Resources/Labels/generated.label
Resources/Labels/generatedQR.EPS
Resources/Labels/generated-iOS.label
Resources/Labels/generateQR-iOS.EPS
Resources/Labels/cfgutilFiles/
Resources/Labels/iOS/
config
.DS_Store*
